name: run-tests

on:
    pull_request:
    push:
        branches-ignore:
            - main
            - next
        # Все пуши, попадающие в эти ветки, должны быть уже протестированы

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: send custom message with args
              uses: appleboy/telegram-action@master
              with:
                  to: ${{ secrets.TELEGRAM_TO }}
                  token: ${{ secrets.TELEGRAM_TOKEN }}
                  args: The ${{ github.event_name }} event triggered first step.
